.well.wrap
  img(src='https://secure.gravatar.com/avatar/0f6c46fc2e4e39c72c1cfe2318252ef1?s=240')
hr
p='I am a Telecom/Web Engineer who works on bridging voice and web technologies. I also enjoy soldering LED\'s to boards and watching them blink.'
hr
dl
  dt
    i.icon-globe
    |    Philadelphia, PA
  dt 
    i.icon-envelope
    a(href='mailto:bryanpaluch@gmail.com')='  bryanpaluch@gmail.com'
  dt 
    b='Git:  '
    a(href='https://github.com/bryanpaluch')=' bryanpaluch'
  dt 
    b='LinkedIn:  '
    a(href='http://www.linkedin.com/pub/bryan-paluch/7/44/9b5')=' link'

