!!!
html
  head
    title= 'BryanPaluch.com'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          a.brand(href='/') Bryan Paluch
    .wrap
      .container-fluid
        .row-fluid
          .span6.offset2
            block content
          .span2
            .row
              .well.sidebar-nav
                include includes/about
            .row
              .well.sidebar-nav
                ul.nav.nav-list
                  li.nav-header categories
                  - each cat in categoryList
                    li
                      a(href=categoryUrl(cat)) #{cat}
                  li.nav-header tags
                  - each tag in tagList
                    li
                      a(href=tagUrl(tag)) #{tag}
